<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite
        name="Practice Suite"
        parallel="classes"
        thread-count="3">
<!--       data-provider-thread-count="3"-->
<!--&gt;-->
    <listeners>
        <listener class-name="ns.others.TestListeners"></listener>
    </listeners>
<!--    <test name="Test Basics 1" thread-count="3" parallel="classes" >-->
<!--        <groups>-->
<!--            <run>-->
<!--&lt;!&ndash;                <include name="negative"/>&ndash;&gt;-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="ns.tests.InvalidLoginTest"/>-->
<!--            <class name="ns.tests.PlaceOrderTest"/>-->
<!--            <class name="ns.tests.RegisterPageTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->

    <test name="RS cart">
        <classes>
            <class name="ns.tests.PlaceOrderTest"/>
        </classes>
    </test> <!-- Test -->

<!--    <test name="Test Basics 3">-->
<!--        <classes>-->
<!--            <class name="ns.tests.RegisterPageTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
</suite> <!-- Suite -->